In [1]:
import pandas as pd

In [2]:
accidents_data = pd.read_csv("accidents.csv")
accidents_data

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17